window{
    background-image: url("src/space.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.entryTime{
    background-image: url("src/entryTime.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: gray;
    font-size: 71px;

}
.entryHour{
    background-image: url("src/entries.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: gray;
    font-size: 90px;
}
.entryMinutes{
    background-image: url("src/entries.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: gray;
    font-size: 90px;
}
.labelSemiColon{
    color: gray;
    font-size: 90px;
}
.labelAlarmTime{
    color: gray;
    font-size: 40px;
}
.buttonDeleteAlarm{
    all: unset;
}
.boxAlarm{
    background-image: url("src/alarms.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;

}