.entryTime{
    color: black;
    font-size: 71px;
    text-align: center;

}
.entryHour{
    color: black;
    font-size: 71px;
    text-align: center;
}
.entryMinutes{
    color: black;
    font-size: 71px;
    text-align: center;
}
.labelSemiColon{
    color: black;
    font-size: 71px;
}