.entryTime{
    color: black;
    font-size: 71px;

}
.entryHour{
    color: black;
    font-size: 90px;
}
.entryMinutes{
    color: black;
    font-size: 90px;
}
.labelSemiColon{
    color: black;
    font-size: 90px;
}
.labelAlarmTime{
    color: black;
    font-size: 71px;
}
.buttonDeleteAlarm{

}